body {
  background-color: rgb(255, 153, 51);
}

main {
  width: 1000px;
  margin: 20px auto;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Satisfy', cursive;
}

h1, h2, h3 {
  width: 800px;
  margin: 30px auto;
}

h1 {
  font-size: 4em;
  color: rgb(255, 102, 51);
}

h2 {
  font-size: 3em;
  color: orange;
}

h3 {
  font-size: 2em;
  color: Black;
}

p, li, figcaption {
font-family: 'Open Sans', sans-serif;
}

p, figcaption {font-size: 16px
}

figure {
  margin: 0 auto;
}
